.TeacherProfile-content{

  --background: var(--ion-color-primary-contrast);
}

.studentTable {

    border: 3px solid var(--ion-color-primary);
    overflow-y: auto;
    width: 80%;
    height: 85%;
    border-radius: 20px;
    margin: auto auto;
    background: var(--ion-color-primary-contrast);
}

.perfilProfesor-buscador {

    width: 350px;
    margin: auto auto;

}

.infoButtons-teacherProfile {
    
    height: auto;
}

.teacher-profile-spinner {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}