/* =============================================================================
   CSS Styles for MenuAdmin page
   ========================================================================== */
.ContentMenuEdicion{

    --background: var(--ion-color-primary-contrast);
}

/* ========================================
   Container
   ======================================== */
.studentEditProfile-dashboard-outer-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    margin: 0;
    padding: 0;
}

.studentEditProfile-dashboard-card {
    /*max-width: 500px;*/
    width: 580px;
    margin: 0;
    background-color: var(--ion-color-primary);
    overflow-y: auto;
    
}

.studentEditProfile-card-content{

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  

}

/* ========================================
    Buttons
   ======================================== */
ion-button.studentEditProfile-dashboard-button::part(native) {
    width: 400px;
    height: 48px;
    background-color: var(--button-profile-bg);
    color: var(--ion-color-primary);
    border-radius: 40px;
    border: none;
    margin-bottom: 15px;
    font-family: var(--ion-font-family);
    font-weight: var(--ion-weight-regular);
    font-size: 18px;
    box-shadow: none;
}

ion-button.studentEditProfile-dashboard-button::part(native):hover {
    background-color: var(--ion-color-light);
}

/* ============================
   MOBILE (pantallas pequeñas)
   ============================ */
@media (max-width: 600px) {

    .studentEditProfile-dashboard-card{

        width: 350px;
        overflow-y: auto;
        
    }

    .studentEditProfile-card-content{

        overflow-y: auto;
    }

    .studentEditProfile-dashboard-main-container{

        overflow-y: auto;
    }

    ion-button.studentEditProfile-dashboard-button::part(native){

        width: 300px;
    }
}