/* ========================================
   Login profesores
   ======================================== */

.login-background {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

/*
Título principal
*/
.main-title {
    margin-top: 70px;
    text-align: center;
    flex-shrink: 0;
}

.main-title h1 {
    font-family: var(--font-family-primary);
    font-weight: var(--font-weight-normal);
    color: black;
    font-size: 2.5rem;
}

/*
Tarjeta que engloba todo el formulario
*/
.login-card {
    max-width: 400px;
    width: 90%;
    margin: 0;
    background-color: var(--ion-color-primary);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    border-radius: 16px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

    font-family: var(--font-family-primary);
    font-weight: var(--font-weight-normal);

    justify-content: center;
    margin: 50px auto;
}

.login-card h2 {
    color: white;
}

/*
Contenedor del formulario
*/
.login-form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/*
Campos del formulario
*/
.input-item {
    --background: transparent;
    width: 90%;
    margin-bottom: 20px;
}

.login-custom-input {
    --background: white;
    --padding-start: 15px;
    --padding-end: 15px;
    --border-radius: 40px;
    margin-top: 20px;
    height: 50px;
    text-align: left;
}

/*
Icono dentro del input
*/
.input-icon {
    color: black;
    margin-right: 5px;
}

/*
Botones
*/
ion-button.login-button {
    margin-top: 20px;
    width: 80%;
    height: 50px;
    --background: white;
    --color: var(--ion-color-primary);
    --border-radius: 40px;
}

ion-button.login-button::part(native):hover {
    background-color: var(--ion-color-light);
}

/*
Toast
*/
.custom-form-toast::part(container) {
    background-color: var(--ion-color-danger);
    border-radius: 4px;
}

.custom-form-toast::part(message) {
    text-align: center;
}