.teacher-register-main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
  font-family: 'Atkinson Hyperlegible', sans-serif;
  transform: scale(1.4);
  transform-origin: top center; 
}

.teacher-register-title h1 {
  color: #000000;
  text-align: center;
  font-size: 3rem;
}

.teacher-register-form-container-header {
  text-align: center;
}

.teacher-register-form-container-header h1 {
  font-size: xx-large;
  color: white;
}

.teacher-register-form-container-header h2 {
  font-size: large;
}

.teacher-register-grid-container {
  display: grid;
  grid-template-rows: auto 1fr; 
  gap: 2rem;
  border-radius: 32px;
  width: 100%;
  max-width: 600px;
  background-color: #50BFE6;
  padding: 2rem;
}

.teacher-register-grid-content {
  display: grid;
  grid-template-columns: 2fr 2fr;
  gap: 2rem;
}

.teacher-register-form-left,
.teacher-register-form-right {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.teacher-register-form-right p {
  text-align: center;
  margin: 0;
}

.teacher-register-profile-image-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.teacher-register-profile-icon-label {
  position: relative;
  cursor: pointer;
}

.teacher-register-selected-image,
.teacher-register-profile-placeholder {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
  background: #50BFE6;
  font-size: 120px;
  color: #ffffff;
}

.teacher-register-profile-icon-label input {
  display: none;
}

@media (max-width: 768px) {
  .teacher-register-grid-content {
    grid-template-columns: 1fr;
  }

  .teacher-register-form-right {
    margin-top: 2rem;
  }
}

.teacher-register-form-button-container {
  display: flex;
  justify-content: center; 
}

.teacher-register-confirm-button::part(native) {
  border-radius: 30px;        
  background-color: #ffffff;  
  color: #50BFE6;            
  font-weight: bold;
  padding: 0.8rem 2rem;       
  max-width: 600px;           
  box-shadow: 0 4px 12px rgba(0,0,0,0.1); 
  border: none;   
  outline: none;               
}

.teacher-register-confirm-button:hover::part(native) {
  background-color: #f0f0f0; 
}

.teacher-register-input-with-icon {
  display: flex;
  align-items: center;   
}

.teacher-register-input-with-icon ion-icon {
  padding-top: 20px;
  font-size: 1.4rem;     
}

.teacher-register-input-with-icon ion-item {
  border-radius: 30px;        
  background-color: #ffffff;  
}

.teacher-register-input::part(native) {
  border-radius: 30px;
}

.teacher-register-toast::part(container) {
  background-color: #f44336;
  border-radius: 4px;
}

.teacher-register-toast {
  margin: 850px auto auto auto;
}