
ion-header.headerBackground {
  color: white;
  /*padding-bottom: 16px;*/
  box-shadow: none;
  height: 250px;
  width: 100%;
}

ion-toolbar.toolbarTransparent {

  border: none;
  padding: 0;
  width: 100%;
}

.profileAvatar{
    width: 200px;
    height: 200px;
    border: 6px solid white;
    border-radius: 50%;
    overflow: hidden;
    margin-left: 50px;
    margin-top: 120px;
    flex: 0 0 auto;
}

.profileAvatar img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: 176px;
    background: var(--ion-color-primary);

}

ion-button.homeButton{

    align-self: flex-start;
    margin: 20px 20px;
}

ion-button.homeButton::part(native) {
  background: white;
  border-radius: 10px; 
  --width: 20px;
  --height: 20px;
  border: none;
}

ion-button.homeButton ion-icon {
  color: #50BFE6;
  background-color: white;
  width: 30px;
  height: 30px;
}

.infoButtons{

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex-grow: 2;
    justify-content: space-between;
    align-items: center;
    margin-top: 110px;
}

.profileName{

    font-size: 50px;
    font-weight: 600;
    color: white;
    text-align: left;
    margin-left: 20px;
}
ion-buttons.actionButtons {
  display: flex;
  gap: 8px;
  justify-content: flex-end;
  align-content: center;
  margin-right: 30px;

}

ion-button.editButton::part(native),
ion-button.logoutButton::part(native) {
  border-radius: 18px;
  height: 36px;
  min-width: 36px;
  padding: 0 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}


ion-button.editButton::part(native) {
  --width: 50;
  --height: 48px;
  background-color: white;
  color: var(--ion-color-primary);
  border-radius: 40px;
  border: 2px solid var(--ion-color-primary);
  margin-bottom: 20px;
}

ion-button.logoutButton::part(native) {
  --width: 50;
  --height: 48px;
  background-color: white;
  color: var(--ion-color-primary);
  border-radius: 40px;
  border: 2px solid var(--ion-color-primary);
  margin-bottom: 20px;
}

