/*======================================
  Css for EditColorsStudent component
========================================*/

/*======================================
  main container
========================================*/
.EditColor-Container{

    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: space-around;
    align-items: center;
}

/*======================================
  Example card
========================================*/
.Preview-PrimaryColors-Example{

    height: 200px;
    width: 400px;
    border-radius: 40px;

    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    align-content: center;

}

/*======================================
  Example text
========================================*/
.Text-PrimaryColors-Example{

    font-size: 50px;
    font-weight: bold;
}

/*======================================
  Example button
========================================*/
.Button-PrimaryColors-Example{

    height: 60px;
    width: 90px;
}

/*===========================================
  Container for the advanced configuration
=============================================*/
.AdvancedConfiguration-PrimaryColors_example{

    margin-top: 100px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 60px;
}

/*======================================
  Grid cell
========================================*/
.colgrid-PrimaryColors-Example{

    margin-right: 30px;
    margin-bottom: 30px;
}

/*======================================
  Accept button
========================================*/
.Accept-button-container-editColorsStudent{

    display: flex;
    justify-content: flex-end;
}

/*======================================
  Mobile
========================================*/
@media (max-width: 768px) {

  .AdvancedConfiguration-PrimaryColors_example{

    flex-direction: column;
  }

  .colgrid-PrimaryColors-Example {
    width: 100% !important;  /* fuerza que cada columna ocupe todo el ancho */
    margin-bottom: 16px;      /* separa verticalmente cada columna */
  }

}

@media (max-width: 375px) {



  .colgrid-PrimaryColors-Example {
    margin-right: 15px;     /* separa verticalmente cada columna */
  }

}

@media (max-width: 400px) {


.Preview-PrimaryColors-Example{

    width: 350px;
    height: 180px;
}
  

}
