/* =============================================================================
   ESTILOS GENERALES DE LA PÁGINA - ClassSelect
   ========================================================================== */

/* ========================================
    Contenedor
   ======================================== */

.class-select-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    padding: 30px 30px;
}

/* ========================================
    Seleccionar clase
   ======================================== */

ion-label.select-class-label {
    font-family: var(--ion-font-family);
    font-weight: var(--ion-weight-regular);
    color: var(--ion-color-primary);
    flex-shrink: 0;
    font-size: 2rem;
}

ion-select.select-class {

    position: relative;
    background: #F5F5F5;
    border-radius: 50px;
    padding: 12px 10px;

    border: 1px solid #ddd;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    --highlight-background: transparent;
    --highlight-color: transparent;
    --highlight-height: 0px;
    border-bottom: none !important;

    font-family: var(--ion-font-family);
    color: black;
    font-weight: var(--ion-weight-regular);
}


/* ========================================
    Placeholder
   ======================================== */

ion-select.select-class::part(placeholder) {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    text-align: center;
}

/* ========================================
    Texto seleccionado
   ======================================== */

ion-select.select-class::part(text) {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    text-align: center;
}

/* ========================================
    Ícono
   ======================================== */

ion-select.select-class::part(icon) {
    opacity: 1;
    color: #565353;
    font-size: 20px;
    position: absolute;
    right: 16px;
    top: 50%;
    transform: translateY(-50%);
}