.groupItem-item {
    --padding-start: 12px;
    --inner-padding-end: 12px;
}

.groupItem-mainContainer {

    display: flex;
    align-items: center;
    width: 100%;
    padding: 15px 15px;
    border-bottom: 1px solid gray;
    justify-content: space-between;
    align-items: center;
}


.groupItem-name {
    font-size: 16px;
    font-weight: 600;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

ion-button.groupItem-IconButton::part(native) {

    background-color: white;
    --width: 20px;
    --height: 20px;
    border-radius: 10px;
    border: 2px solid #50BFE6;
    box-shadow: none;
    padding: 3px 3px;
}

ion-button.groupItem-IconButton ion-icon {

    color: #50BFE6;
    background-color: white;
    width: 30px;
    height: 30px;
}