.simpleHeader-header {
  background: #50BFE6;
  height: 105px;
  width: 100%;
  display: flex;
  align-items: center;      /* centra verticalmente el contenido */
  justify-content: center;  /* centra el toolbar dentro del header */
}

.simpleHeader-toolbar {
    
  display: flex;
  flex-direction: row;
  justify-content: space-around; /* crea espacio igual entre elementos */
  align-items: center;           /* centra verticalmente los elementos dentro del toolbar */
  width: 100%;                    /* margen lateral dentro del header */

}

ion-button.simpleHeader-homeButton::part(native){

    background: white;
    border-radius: 10px;
    border: none;
}

ion-button.simpleHeader-homeButton ion-icon{

    color: #50BFE6;
    background-color: white;
    width: 30px;
    height: 30px;
}

.simpleHeader-adminName{

    font-size: 40px;
    font-weight: 600;
    color: white;
}

ion-button.simpleHeader-logoutButton::part(native){

    border-radius: 40px;
    height: 36px;
    padding: 0 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    color:#50BFE6;
    border: none;

}