/* =============================================================================
   CSS Styles for UserItem component
   ========================================================================== */


/* ========================================
    Item
   ======================================== */
.userItem-item {

    --padding-start: 0;
    --inner-padding-end: 0;
}


/* ========================================
    Container
   ======================================== */
.userItem-mainContainer {

    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    padding: 15px 15px;
    border-bottom: 1px solid gray;
    align-items: center;
    gap: 15px;
}


/* ========================================
    Checkbox
   ======================================== */
.userItem-checkbox {
    margin-right: 5px;
}


/* ========================================
    Avatar
   ======================================== */
.userItem-avatar {

    width: 56px;
    height: 56px;
    overflow: hidden;
    min-width: 56px;
    min-height: 56px;
    border-radius: 50%;
}

.userItem-avatar img {

    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    margin: 0;
}


/* ========================================
    Text
   ======================================== */
.userItem-name {

    font-size: 16px;
    font-weight: 600;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    flex-grow: 1;
    flex-shrink: 0;
    text-align: center;
}


/* ========================================
    Classes
   ======================================== */
.userItem-class {
    display: flex;
    flex-direction: column;
    text-align: right;
    flex-shrink: 0;
    min-width: 80px;
}


/* ========================================
   Highlight
   ======================================== */
.userItem-mainContainer.userItem-highlight {
    background-color: #A9DAF3;
}