/*=====================================
            ColorPaletteCard
=======================================*/

.ColorPaletteCard-studentEditColor-IonCard{
    cursor: pointer;
    border: 1px solid transparent;
    
}

.ColorPaletteCard-studentEditColor-IonCard:hover,
.ColorPaletteCard-studentEditColor-IonCard:focus,
.ColorPaletteCard-studentEditColor-IonCard:focus-visible{

    outline: none !important;
    box-shadow: none !important;
    transition: 0.2s ease;
    cursor: pointer;
    border-width: clamp(2px, 1.2vw, 4px);
    border-color: var(--ion-color-primary);
}

/*=====================================
            Card-Header
=======================================*/

.ColorPaletteCard-studentEditColor-IonCardHeader{

    height: 90px;
    width: 250px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;

    font-size: 25px;
    font-weight: bold;
}

.Boton-header_ColorPaletteCard{

    height: 50px;
    width: 55px;
    pointer-events: none;
}

/*=====================================
            Card-Content
=======================================*/
.ColorPaletteCard-studentEditColor-IonCardContent{

    height: 150px;
    width: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    font-size: 18px;
}

/*=====================================
            Selected- card
=======================================*/
.ColorPaletteCard-studentEditColor-IonCardSelected{

    border: 3px solid var(--ion-color-primary);
    transform: scale(1.06);
    transition: 0.2s ease;
}