/* =============================================================================
   CSS Styles for Message Item Page
   ========================================================================== */


/* ========================================
    Message Item Content
   ======================================== */
.message-item-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 15px 15px;
    border-bottom: 1px solid gray;
    gap: 15px;
    background-color: var(--ion-color-primary-contrast);
    font-size: var(--tatomaths-font);
}

.messageitem-Item{

    --background: var(--ion-color-primary-contrast);
}