/* =============================================================================
   CSS Styles for BubblesZone component
   ========================================================================== *


/* ========================================
    Numbers grid
   ======================================== */
.numbers-grid {
    width: 100%;
    max-width: 80vw;
    margin: 30px auto;
    background: white;
    flex-grow: 1;
    overflow-y: hidden;
    overflow-x: hidden;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(clamp(80px, 22vw, 220px), 1fr));
    justify-items: center;
    align-content: center;
    gap: clamp(10px, 10vw, 60px);
    padding: 2rem;
}