/* =============================================================================
   CSS Styles for Game1 page
   ========================================================================== */


/* ========================================
    Loading spinner
   ======================================== */
.Game1-spinner {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}


/* ========================================
    Layout general
   ======================================== */
.game1-content {
    --background: #ffffff;
    --footer-height: 220px;
    --header-height: 15vh;

    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    --overflow: hidden;

}

/* ========================================
    Grid Layout
   ======================================== */
.game1-grid-container {
    display: grid;
    grid-template-columns: 1fr 2fr;
    height: calc(100vh - var(--header-height));
    gap: 0;
}

.game1-tato-column {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    padding: 0;
    margin: 0;
}

.game1-game-column {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 0;
    padding-bottom: 2rem;
    margin: 0;
}

/* ========================================
    Tato
   ======================================== */
.game1-tato-container {
    width: 400px;
    height: 400px;
}

.game1-tato-container .game1-check-button {
    width: 100%;
    height: 100%;
}

/* ========================================
    Buttons
   ======================================== */
.game1-buttons-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    gap: 1rem;
    background-color: var(--background, #ffffff);
    width: fit-content;
    margin: 0 auto;
}

.game1-check-button {
    --padding-start: 0;
    --padding-end: 0;
    width: 200px;
    height: 200px;
    margin: 0;
}

.game1-check-button::part(native) {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 16px;
    padding: 0.5rem;
    background-color: transparent;
}

.game1-check-button::part(native):hover,
.game1-check-button::part(native):focus-visible {
    background-color: var(--ion-color-primary);
}

.game1-check-button-image {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.game1-check-button:disabled {
    opacity: 0.4;
}